.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    margin-top: 45px;
}

@media (max-width: 960px) {
    .cards {
        grid-template-columns: 1fr;
    }
}